{% load staticfiles %}
<html>
<head>
    <title>django-chartjs line chart demo</title>
</head>
<body>
<h1>Some Line Charts loaded in Ajax!</h1>

<canvas id="myChart" width="500" height="400"></canvas>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript" src="{% static 'Chart.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var labels = null;
        var datas = null;
        $.ajax({
            url: " {% url 'getDatas' %}",
            type: "GET",
            success: function (response) {
                var resp = JSON.parse(response);
                datas = resp.datas;

                createChart();
            },
            complete: function () {
            },
            error: function (xhr, textStatus, thrownError) {
                alert("error doing something");
            }
        });


        console.log(labels);

        function createChart() {
            var key1Trade = datas["NCI-SLG-00"]["trade"];
            var key1Supply = datas["NCI-SLG-00"]["supply"];
            var key1Demand = datas["NCI-SLR-00"]["demand"];
            var data = {
                labels: key1Trade[0],
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,0,0,1)",
                        pointColor: "rgba(220,0,0,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: key1Trade[1]
                    },
                    {
                        label: "My Second dataset",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: key1Supply[1]
                    },
                    {
                        label: "My Third dataset",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(0,0,220,1)",
                        pointColor: "rgba(0,0,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: key1Demand[1]
                    },

                    ]
            };

            var ctx = $("#myChart").get(0).getContext("2d");
            new Chart(ctx).Line(data,{
                animation: true,
                tooltipFillColor: "rgba(0,0,0,0.8)",
                multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>"

            });
        }
    });
</script>

</body>
</html>