{% load staticfiles %}
<html>
<head>
    <title>django-chartjs line chart demo</title>
</head>
<body>
<h1>Some Line Charts loaded in Ajax!</h1>

<canvas id="myChart" width="500" height="400"></canvas>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript" src="{% static 'Chart.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var labels = null;
        var datas = null;
        $.ajax({
            url: " {% url 'getDatas' %}",
            type: "GET",
            success: function (response) {
                console.log(JSON.parse(response))
                var resp = JSON.parse(response);
                labels = resp.labels;
                datas = resp.datas;
                createChart();
            },
            complete: function () {
            },
            error: function (xhr, textStatus, thrownError) {
                alert("error doing something");
            }
        });


        console.log(labels);

        function createChart() {
            var data = {
                labels: labels,
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: datas
                    }
                    ]
            };

            var ctx = $("#myChart").get(0).getContext("2d");
            new Chart(ctx).Line(data);
        }
    });
</script>

</body>
</html>